<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<div>
						<span>时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
					    <span>用户手机:</span>
					    <input id="user_phone" name="user_phone" type="text" />
						<button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
						<tr>
							<th class="center">序号</th>
							<th class="center">催收人</th>
							<th class="center">用户姓名</th>
							<th class="center">订单状态</th>
							<th class="center">类型</th>
							<th class="center">备注</th>
							<th class="center">时间</th>
						</tr>
						</thead>
						<tbody id="audit_list"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		var submitTime = laydate.now(0, 'YYYY-MM-DD');
		$("#startTime").attr('value', submitTime);
		$("#endTime").attr('value', submitTime);
		$(top.hangge());
		var myTable = new MaxTable();
        myTable.initialize({
            table : "audit_list",
            id : "id",
            queryUrl : contextPath+"recycle/all_recycle_list_ajax",
            beforeSend : function(){
                maskScreen();
            },
			complete : function(){
				unMaskScreen();
			},
            headerColumns : [{
                id : "id",
                renderer : numRenderer
            },{
                id : "follow_name",
                renderer : function(idValue,value,record){
                    return value ? value : "---" ;
                }
            },{
                id : "user_name",
                renderer : function(idValue,value,record){
                    return value ? value + "(" + record.user_phone + ")" : "---" ;
                }
            },{
				id : "status",
				renderer : function(idValue,value,record){
					if (value == 31) {
						return "<font color='green'>还款中</font>";
					}
					if (value == 32) {
						return "<font color='orange'>还款确认中</font>";
					}
					if (value == 33) {
						return "<font color='red'>逾期</font>";
					}
					if (value == 34) {
						return "<font color='red'>坏账</font>";
					}
					if (value == 35) {
						return "<font color='red'>展期</font>";
					}
					if (value == 36) {
						return "<font color='red'>逾期后展期</font>";
					}
					if (value == 37) {
						return "<font color='red'>展期后逾期</font>";
					}
					if (value == 38) {
						return "展期后坏账";
					}
					if(value==42){
						return "<font  color='green'>已还</font>";
					}
					return "---";
				}
			},{
                id: "type",
                renderer: function (idValue, value, record) {
                    if (value == 0) {
                        return "其他";
                    }
                    if (value == 1) {
                        return "承诺还款";
                    }
                    if (value == 2) {
                        return "谈判-高负债";
                    }
                    if (value == 3) {
                        return "谈判-还款意愿低";
                    }
                    if (value == 4) {
                        return "无人接听";
                    }
                    if (value == 5) {
                        return "关机";
                    }
                    if (value == 6) {
                        return "无法接通";
                    }
                    if (value == 7) {
                        return "设置拒接";
                    }
                    if (value == 8) {
                        return "通话中";
                    }
                    if (value == 9) {
                        return "停机";
                    }
                    if (value == 10) {
                        return "跳票";
                    }
                    if (value == 11) {
                        return "家人代偿";
                    }
                    if (value == 12) {
                        return "线下已还款";
                    }
                    if (value == 13) {
                        return "失联（本人通讯录无效）";
                    }
                    if (value == 14) {
                        return "拒绝还款";
                    }
					if (value == 15) {
						return "部分还款";
					}
					if (value == 16) {
						return "谈判中";
					}
					if (value == 17) {
						return "第三方转告";
					}
					if (value == 18) {
						return "停止催收";
					}
                    return "---";
                }
			},{
                id : "remark",
                renderer : function(idValue,value,record){
                    return value ?  value : "---";
                }
            },{
                id : "create_time",
                renderer : function(idValue,value,record){
                    return value ? moment(value).format("YYYY-MM-DD HH:mm:ss") : "---";
                }
            }]
        });
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				userPhone:$("#user_phone").val(),
				startTime:$("#startTime").val(),
				endTime:$("#endTime").val()
			});
		}
		query();
		function search(){
			myTable.page.pageNo= 1;
			query();
		}
	</script>
</body>
</html>

