﻿<head>
	<title>管理系统</title>
	<meta charset="utf-8" />
	<meta name="description" content="overview & stats" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<!-- basic styles -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css"  th:href="@{/static/css/bootstrap.min.css}"/>
	<link rel="stylesheet" href="/static/css/font-awesome.min.css"  th:href="@{/static/css/font-awesome.min.css}"/>
	<link rel="stylesheet" href="/static/css/ace.min.css" th:href="@{/static/css/ace.min.css}"/>
	<link rel="stylesheet" href="/static/css/ace-rtl.min.css" th:href="@{/static/css/ace-rtl.min.css}"/>
	<link rel="stylesheet" href="/static/css/jquery.gritter.css" th:href="@{/static/css/jquery.gritter.css}"/>
	<link rel="stylesheet" href="/static/css/ace-skins.min.css" th:href="@{/static/css/ace-skins.min.css}"/>
	
	<link rel="stylesheet" href="/static/css/mycss/style.css"  th:href="@{/static/css/mycss/style.css}"/>
	<script type="text/javascript" src="/static/js/jquery.min.js" th:src="@{/static/js/jquery.min.js}"></script>
	<script type="text/javascript" src="/static/js/myjs/common.js" th:src="@{/static/js/myjs/common.js}"></script>
	<!--引入弹窗组件end-->
	<script type="text/javascript" src="/static/js/jquery.tips.js" th:src="@{/static/js/jquery.tips.js}"></script>
	<script type="text/javascript" src="/static/js/moment.js" th:src="@{/static/js/moment.js}"></script>
	
	<script type="text/javascript" src="/static/js/bootstrap.min.js" th:src="@{/static/js/bootstrap.min.js}"></script>
	<script type="text/javascript" src="/static/js/ace.min.js"  th:src="@{/static/js/ace.min.js}"></script>
	<script type="text/javascript" src="/static/js/ace-elements.min.js" th:src="@{/static/js/ace-elements.min.js}"></script>
	<script type="text/javascript" src="/static/js/ace-extra.min.js" th:src="@{/static/js/ace-extra.min.js}"></script>
	<script type="text/javascript" src="/static/js/jquery.gritter.min.js" th:src="@{/static/js/jquery.gritter.min.js}"></script>
	<!-- jquery tree插件 -->
	<script type="text/javascript" src="/static/js/jquery.table.js?v=1.0.0" th:src="@{/static/js/jquery.table.js?v=1.0.0}"></script>
	<!--引入弹窗组件start-->
	<script type="text/javascript" src="/static/plugins/zDialog/zDrag.js" th:src="@{/static/plugins/zDialog/zDrag.js}"  id="skin"  prePath="/"  th:prePath="@{/static/}" ></script>
	<script type="text/javascript" src="/static/plugins/zDialog/zDialog.js" th:src="@{/static/plugins/zDialog/zDialog.js}"  ></script>
	<!-- kindeditor -->
	<script type="text/javascript"  src="/static/plugins/kindeditor/kindeditor.js" th:src="@{/static/plugins/kindeditor/kindeditor.js}"></script>
	<script type="text/javascript"  src="/static/plugins/kindeditor/lang/zh_CN.js" th:src="@{/static/plugins/kindeditor/lang/zh_CN.js}"></script>
	<script type="text/javascript"  src="/static/plugins/kindeditor/plugins/code/prettify.js" th:src="@{/static/plugins/kindeditor/plugins/code/prettify.js}"></script>
	<!-- laydate -->
	<script type="text/javascript"  src="/static/plugins/laydate/laydate.js" th:src="@{/static/plugins/laydate/laydate.js}"></script>
	<script src="/static/js/jquery.cookie.js" th:src="@{/static/js/jquery.cookie.js}"></script>
    <!-- oss对象实例 -->
    <script type="text/javascript" src="/static/js/myjs/cosUpload.js?v=2" th:src="@{/static/js/myjs/cosUpload.js?v=2}"></script>
	<!-- 遮罩层js -->
	<script type="text/javascript" src="/static/js/myjs/myMask.js?v=11" th:src="@{/static/js/myjs/myMask.js?v=11}"></script>
</head>