<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<body>
<div id="page-content">
    <div class="index-model-h">
        <div class="page-header">
            <div>
                <span>查询时间:</span>
                <input id="searchTime" name="searchTime" type="text" readonly="readonly" placeholder="查询时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                <button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询
                </button>
            </div>
        </div>
        <div class="row">
            <div class="index-model">
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日注册(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countRegisterUserNumberToDay"></span>
                        </div>
                    </div>
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日绑卡(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countBindbankUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日实名认证(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countRealNameUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日通讯录认证(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countUserDetailsUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日运营商认证人(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countMobileUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                	<div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日支付宝认证(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countAlipayUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="index-model">
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日提交订单(笔)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countOrderNumberToDay"></span>
                        </div>
                    </div>
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日借出订单(笔)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countLoanOrderNumberToDay"></span>
                        </div>
                    </div>

                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日新客(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countNewUserNumberToDay"></span>
                        </div>
                    </div>
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日借出总金额(元)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countLoanAmountToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日次新(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countSecondUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
                <div class="pricing-span-index">
                    <div class="widget-box pricing-box-small">
                        <div class="widget-header header-color-red3">
                            <h5 class="bigger lighter">当日续客(人)</h5>
                        </div>
                        <div class="widget-body index-number">
                            <span id="countOldUserNumberToDay"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
	$(top.hangge());
    var contextPath = "[[@{/}]]";
    var submitTime = laydate.now(0, 'YYYY-MM-DD');
    $("#searchTime").attr('value', submitTime);
    
    function getAllMessage() {
        var searchTime = $("#searchTime").val();
        $.ajax({
			url : contextPath + "statistics/main_data_ajax",
			type : "POST",
			dataType : "json",
			data : {"searchTime": searchTime},
			beforeSend : function(){
				maskScreen();
			},
			success : function(data) {
				var info = data.data;
	            if(data.status == 2000){
		            $("#countRegisterUserNumberToDay").html(info.countRegisterUserNumberToDay);
		            $("#countRealNameUserNumberToDay").html(info.countRealNameUserNumberToDay);
		            $("#countAlipayUserNumberToDay").html(info.countAlipayUserNumberToDay);
		            $("#countMobileUserNumberToDay").html(info.countMobileUserNumberToDay);
		            $("#countBindbankUserNumberToDay").html(info.countBindbankUserNumberToDay);
		            $("#countUserDetailsUserNumberToDay").html(info.countUserDetailsUserNumberToDay);
		
		            $("#countOrderNumberToDay").html(info.countOrderNumberToDay);
		            $("#countLoanOrderNumberToDay").html(info.countLoanOrderNumberToDay);
		            $("#countLoanAmountToDay").html(info.countLoanAmountToDay);
		            $("#countNewUserNumberToDay").html(info.countNewUserNumberToDay);
		            $("#countSecondUserNumberToDay").html(info.countSecondUserNumberToDay);
		            $("#countOldUserNumberToDay").html(info.countOldUserNumberToDay);
	            }else{
	            	Dialog.alert(data.message);
	            }
			},
			complete : function(){
				unMaskScreen();
			}
		});
    }
    getAllMessage();

    function search() {
        var searchTime = $("#searchTime").val();
        if (new Date(searchTime) > new Date()) {
            $("#searchTime").tips({
                side: 3,
                msg: "不能超过当天时间！",
                bg: "#AE81FF",
                time: 2
            });
            $("#searchTime").focus();
            return false;
        }
        getAllMessage(searchTime);
    }

</script>
</body>
</html>
