<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<!-- 检索  -->
					<div>
						<span>应还时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                        <span>用户来源:</span>
                        <select id="userSource" name="userSource" style="width:100px">
                            <option value="">全部</option>
                            <option value="wechat">微信</option>
                            <option value="qq">QQ</option>
                            <option value="pc">PC端</option>
                            <option value="other">其他</option>
                        </select>
						<span>渠道编号:</span>
						<select id="userOrigin" name="userOrigin" style="width:100px">
							<option value="">全部</option>
						</select>

                        <button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>

						<button class="btn btn-small btn-success" onclick="exportReport()">EXCEL导出</button>
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">打款日期</th>
								<th class="center">自然到期日</th>
								<th class="center">商户名称</th>
								<th class="center">打款数</th>
								<th class="center">新客数</th>
								<th class="center">次新数</th>
								<th class="center">老客数</th>
								<th class="center">实时新客首逾率</th>
								<th class="center">新客在逾率</th>
								<th class="center">新客还本率</th>
								<th class="center">新客在展率</th>
								<th class="center">新客提前还款</th>
								<th class="center">新客正常还款</th>
								<th class="center">新客逾期还款</th>
								<th class="center">新客逾期中</th>
								<th class="center">新客提前展期</th>
								<th class="center">新客正常展期</th>
								<th class="center">新客逾期展期</th>
								<th class="center">新客展期逾期中</th>
								<th class="center">新总展期次数</th>
								<th class="center">详情</th>
							</tr>
						</thead>
						<tbody id="myTable"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 返回顶部  -->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
		<i class="icon-double-angle-up icon-only"></i>
	</a>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		var myTable = new MaxTable();
		myTable.initialize({
			table : "myTable",
			id : "id",
			queryUrl : contextPath+"statistics/user_repay_rate_ajax",
			headerColumns : [{
		            id : "give_time",
		            renderer : function(idValue,value,record){
		            	//return value ? moment(value).format("YYYY-MM-DD") : "---";
						return value ? value : "--";
				    }
    			},{
		            id : "nature_give_time",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
				    }
	        	},{
		            id : "merchant_name",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
			        }
	        	},{
		            id : "pay_count",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
			        }
	        	},{
		            id : "new_user_count",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
			        }
	        	},{
		            id : "two_user_count",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
			        }
	        	},{
		            id : "old_user_count",
		            renderer : function(idValue,value,record){
						return value ? value : "--";
			        }
	        	},{
		            id : "time_new_over_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_over_now_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_principal_pay_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_defer_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_ahead_repay",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_normal_repay",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_over_repay",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "new_over",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "new_ahead_defer",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
					id : "new_nature_defer",
					renderer : function(idValue,value,record){
						return value ? value : "--";
					}
				},{
					id : "new_over_defer",
					renderer : function(idValue,value,record){
						return value ? value : "--";
					}
				},{
					id : "new_defer_over",
					renderer : function(idValue,value,record){
						return value ? value : "--";
					}
				},{
		            id : "new_total_defer_time",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
                id : "give_time",
                renderer : function(idValue,value,record){
                    var html = "<div class='btn-group'>";
                    html += "<a class='btn btn-mini btn-info' title='查看' onclick=\"detail('" + value + "');\">查看</a>";
                    html += "</div>";
                    return html;
                }
            }]
		});
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				type:"newUserRepayRate",
				userSource:$("#userSource").val(),
				userOrigin:$("#userOrigin").val(),
				startTime:$("#startTime").val(),
				endTime:$("#endTime").val()
			});
		}
		query();
		function search() {
			myTable.page.pageNo = 1;
			query();
		}
		getOriginList();
		var originList;
		function getOriginList(){
			//用户渠道列表
			$.post(contextPath+"origin/origin_list_by_merchant",{},function(jsonObject){
				originList = jsonObject.data;
				$.each(originList,function(i){
					$("#userOrigin").append("<option value='"+originList[i].id+"'>"+originList[i].originName+"</option>");
				});
				query();
			});
		}

		function exportReport(){
			Dialog.confirm("确认按条件导出新客回款率(包括展期)统计报表吗？",function () {
				location.href = contextPath+"statistics/export_report?reportName=new_user_repay_rate";
			});
      	}

        function detail(date){
            var diag = new top.Dialog();
            diag.Drag = true;
            diag.Title = "详情";
            diag.URL = contextPath + "statistics/new_user_repay_rate_list_detail?date=" + date;
            diag.Width = 1400;
            diag.Height = 800;
            diag.CancelEvent = function(){ //关闭事件
                query();
                diag.close();
            };
            diag.show();
        }
	</script>
</body>
</html>

