<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<!-- 检索  -->
					<div>
						<span>渠道编号:</span>
                        <input id="userOrigin" name="userOrigin" type="text" style="display:none"/>
                        <select id="originId" name="originId"  style="width:100px">
                            <option value="">所有</option>
                        </select>
						<span>注册时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						<button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
						<button id="flash" class="btn btn-small btn-success" onclick="reportFlash()"><i class="icon-search"></i> 刷新报表</button>

						<button class="btn btn-small btn-success" onclick="exportReport()">EXCEL导出</button>
						<!--<a class="btn btn-small btn-success" target='_blank' href= "/origin/origin_statistics_list">渠道统计（近两天）</a>-->
						<!--<a class="btn btn-small btn-success" target="_blank" href="/origin/origin_order_statistics_list">渠道订单统计</a>-->
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">注册日期</th>
								<th class="center">注册渠道</th>
								<th class="center">注册人数(人)</th>
								<th class="center">注册的登录数量(人)</th>
								<th class="center">实名人数(人)</th>
								<th class="center">提单人数(人)</th>
								<th class="center">首借人数(人)</th>
								<th class="center">首借金额(元)</th>
							</tr>
						</thead>
						<tbody id="myTable"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 返回顶部  -->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
		<i class="icon-double-angle-up icon-only"></i>
	</a>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		var myTable = new MaxTable();
		myTable.initialize({
			table : "myTable",
			id : "id",
			queryUrl : contextPath+"statistics/partner_report_deduction_list_ajax",
			headerColumns : [{
		            id : "day_key",
		            renderer : function(idValue,value,record){
		            	return value != null ? moment(value).format("YYYY-MM-DD") : "---";
				    }
    			},{
		            id : "origin_name",
		            renderer : function(idValue,value,record){
		            	return value != null ? value + "(" + record.user_origin + ")" : record.user_origin;
				    }
	        	},{
		            id : "reg_cnt",
		            renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
			        }
	        	},{
					id : "login_cnt",
					renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
					}
				},{
		            id : "real_name_cnt",
		            renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
			        }
	        	},{
		            id : "submit_order_cnt",
		            renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
			        }
	        	},{
		            id : "first_submit_cnt",
		            renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
			        }
	        	},{
		            id : "first_submit_amount",
		            renderer : function(idValue,value,record){
						return value != null ? value : "---" ;
			        }
	        	}]
		});
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				userOrigin:$("#originId").val(), //关联渠道查询
                startTime:$("#startTime").val(),
				endTime:$("#endTime").val()
			});
		}
		query();
		function search() {
			myTable.page.pageNo = 1;
			query();
		}

        function reportFlash() {
            $.post(contextPath+"report_flash/partner_report_deduction_list_flash",{},function(){
               alert("报表刷新成功");
               search();
               $("#flash").attr("disabled", true);

            });
        }

		function getOriginName(){
			$.post(contextPath+"statistics/partner_report_deduction_list_ajax",{},function(jsonObject){
				var originNameList = jsonObject.data;
				$.each(originNameList, function(i){
					$("#originName").append("<option value='" + this.id + "'>" + this.resourceName + "</option>");
				});
			});
		}
		
		function exportReport(){
			Dialog.confirm("确认按条件导出渠道统计报表吗？",function () {
				location.href = contextPath+"statistics/export_report_deduction?reportName=partner_effect&userOrigin=" + $("#originId").val() + "&startTime=" + $("#startTime").val() + "&endTime=" + $("#endTime").val();
			});
		}

        getMyOriginList();
        function getMyOriginList(){
            $.post(contextPath+"origin/my_origin",{},function(jsonObject){
                originList = jsonObject.data;
                $.each(originList,function(i){
                    $("#originId").append("<option value='"+originList[i].id+"'>"+originList[i].originName+"</option>");
                });
            });
        }
	</script>
</body>
</html>·

