<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<!-- 检索  -->
					<div>
						<span>应还时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						<button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
						<button id="flash" class="btn btn-small btn-success" onclick="reportFlash()"><i class="icon-search"></i> 刷新报表</button>

						<button class="btn btn-small btn-success" onclick="exportReport()">EXCEL导出</button>
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">应还日期</th>
								<th class="center">应还订单</th>
								<th class="center">提前还款</th>
								<th class="center">正常还款</th>
								<th class="center">逾期已还</th>
								<th class="center">逾期中</th>
								<th class="center">坏账</th>
								<th class="center">应还金额</th>
								<th class="center">实还金额</th>
								<th class="center">放款金额/成本</th>
								<th class="center">逾期费</th>
								<th class="center">减免金额</th>
								<th class="center">待还金额</th>
								<th class="center">首逾率</th>
								<th class="center">逾期率</th>
								<th class="center">回收率1天</th>
								<th class="center">回收率3天</th>
								<th class="center">回收率7天</th>
								<th class="center">回收率15天</th> 
							</tr>
						</thead>
						<tbody id="myTable"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 返回顶部  -->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
		<i class="icon-double-angle-up icon-only"></i>
	</a>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		var myTable = new MaxTable();
		myTable.initialize({
			table : "myTable",
			id : "id",
			queryUrl : contextPath+"statistics/repay_report_list_ajax",
			headerColumns : [{
		            id : "day_key",
		            renderer : function(idValue,value,record){
		            	return value ? moment(value).format("YYYY-MM-DD") : "---";
				    }
    			},{
		            id : "should_repay_cnt",
		            renderer : function(idValue,value,record){
		            	return value;
				    }
	        	},{
		            id : "early_repay_cnt",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "normal_repay_cnt",
		            renderer : function(idValue,value,record){
		            	return value;
			        }
	        	},{
		            id : "overdue_repay_cnt",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "overdue_cnt",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "bad_cnt",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "repay_amount",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "real_repay_amount",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "pay_amount",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "overdue_fee",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "reduce_money",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "overdue_repay_amount",
		            renderer : function(idValue,value,record){
			            return value;
			        }
	        	},{
		            id : "first_overdue_rate",
		            renderer : function(idValue,value,record){
		            	var a=(record.overdue_cnt+record.bad_cnt+record.overdue_repay_cnt)/record.should_repay_cnt*100
			            return a.toFixed(2)+"%";
			        }
	        	},{
		            id : "overdue_rate",
		            renderer : function(idValue,value,record){
		            	var a=(record.overdue_cnt+record.bad_cnt)/record.should_repay_cnt*100
			            return a.toFixed(2)+"%";
			        }
	        	},{
		            id : "overdue1_repay_cnt",
		            renderer : function(idValue,value,record){
		            	var overdue=record.overdue_cnt+record.bad_cnt+record.overdue_repay_cnt;
		            	if(overdue){
		            		 var a=record.overdue1_repay_cnt/overdue*100;
		            		 return a.toFixed(2)+"%";
		            	}else{
		            		 return "--";
		            	}
			        }
	        	},{
		            id : "overdue3_repay_cnt",
		            renderer : function(idValue,value,record){
		            	var overdue=record.overdue_cnt+record.bad_cnt+record.overdue_repay_cnt;
		            	if(overdue){
		            		 var a=record.overdue3_repay_cnt/overdue*100;
		            		 return a.toFixed(2)+"%";
		            	}else{
		            		 return "--";
		            	}
			        }
	        	},{
		            id : "overdue7_repay_cnt",
		            renderer : function(idValue,value,record){
		            	var overdue=record.overdue_cnt+record.bad_cnt+record.overdue_repay_cnt;
		            	if(overdue){
		            		 var a=record.overdue7_repay_cnt/overdue*100;
		            		 return a.toFixed(2)+"%";
		            	}else{
		            		 return "--";
		            	}
			        }
	        	},{
		            id : "overdue15_repay_cnt",
		            renderer : function(idValue,value,record){
		            	var overdue=record.overdue_cnt+record.bad_cnt+record.overdue_repay_cnt;
		            	if(overdue){
		            		 var a=record.overdue15_repay_cnt/overdue*100;
		            		 return a.toFixed(2)+"%";
		            	}else{
		            		 return "--";
		            	}
			        }
	        	}]
		});
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				startTime:$("#startTime").val(),
				endTime:$("#endTime").val()
			});
		}
		query();
		function search() {
			myTable.page.pageNo = 1;
			query();
		}

        function reportFlash() {
            $.post(contextPath+"report_flash/report_order_repay_flash",{},function(){
                alert("报表刷新成功");
                search();
                $("#flash").attr("disabled", true);
            });
        }

		function exportReport(){
			Dialog.confirm("确认按条件导出还款统计报表吗？",function () {
				location.href = contextPath+"statistics/export_report?reportName=order_repay&startTime=" + $("#startTime").val() + "&endTime=" + $("#endTime").val();
			});
      	}
	</script>
</body>
</html>

