<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<!-- 检索  -->
					<div>
						<span>应还时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						<span>用户来源:</span>
						<select id="userSource" name="userSource" style="width:100px">
							<option value="">全部</option>
							<option value="wechat">微信</option>
							<option value="qq">QQ</option>
							<option value="pc">PC端</option>
							<option value="other">其他</option>
						</select>
						<span>渠道编号:</span>
						<select id="userOrigin" name="userOrigin" style="width:100px">
							<option value="">全部</option>
						</select>
						<button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
						<button class="btn btn-small btn-success" onclick="exportReport()">EXCEL导出</button>
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">打款日期</th>
								<th class="center">自然到期日</th>
								<th class="center">商户名称</th>
								<th class="center">总打款</th>
								<th class="center">总首逾率</th>
								<th class="center">总在逾率</th>
								<th class="center">总还本率</th>
								<th class="center">总在展率</th>
								<th class="center">新客数</th>
								<th class="center">次新数</th>
								<th class="center">新客首逾率</th>
								<th class="center">新客在逾率</th>
								<th class="center">新客还本率</th>
								<th class="center">新客在展率</th>
								<th class="center">老客数</th>
								<th class="center">老客首逾率</th>
								<th class="center">老客在逾率</th>
								<th class="center">老客还本率</th>
								<th class="center">老客在展率</th>
							</tr>
						</thead>
						<tbody id="myTable"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 返回顶部  -->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
		<i class="icon-double-angle-up icon-only"></i>
	</a>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		var myTable = new MaxTable();
		myTable.initialize({
			table : "myTable",
			id : "id",
			queryUrl : contextPath+"statistics/user_repay_rate_ajax?type=totalUserRepayRate",
			headerColumns : [{
		            id : "give_time",
		            renderer : function(idValue,value,record){
		            	//return value ? moment(value).format("YYYY-MM-DD") : "---";
						return value ? value : "--";
				    }
    			},{
		            id : "nature_give_time",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
				    }
	        	},{
		            id : "merchant_name",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "pay_count",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "time_total_over_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "total_over_now_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "total_principal_pay_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "total_defer_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
					id : "new_user_count",
					renderer : function(idValue,value,record){
						return value ? value : "--";
					}
				},{
					id : "two_user_count",
					renderer : function(idValue,value,record){
						return value ? value : "--";
					}
				},{
		            id : "new_over_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_time_over_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_principal_repay_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "new_defer_rate",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "old_user_count",
		            renderer : function(idValue,value,record){
			            return value ? value : "--";
			        }
	        	},{
		            id : "old_over_rate",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "old_time_over_rate",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "old_principal_repay_rate",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	},{
		            id : "old_defer_rate",
		            renderer : function(idValue,value,record){
		            	return value ? value : "--";
			        }
	        	}]
		});
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				userSource:$("#userSource").val(),
				userOrigin:$("#userOrigin").val(),
				startTime:$("#startTime").val(),
				endTime:$("#endTime").val()
			});
		}
		query();
		function search() {
			myTable.page.pageNo = 1;
			query();
		}

		getOriginList();
		var originList;
		function getOriginList(){
			//用户渠道列表
			$.post(contextPath+"origin/origin_list_by_merchant",{},function(jsonObject){
				originList = jsonObject.data;
				$.each(originList,function(i){
					$("#userOrigin").append("<option value='"+originList[i].id+"'>"+originList[i].originName+"</option>");
				});
				query();
			});
		}

		function exportReport(){
			Dialog.confirm("确认按条件导出总回款率(包括展期)统计报表吗？",function () {
				location.href = contextPath+"statistics/export_report?reportName=total_user_repay_rate";
			});
      	}
	</script>
</body>
</html>

