<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
	<div class="container-fluid" id="main-container">
		<div id="page-content" class="clearfix">
  			<div class="row-fluid">
				<div class="row-fluid">
					<!-- 检索  -->
					<div>
						<span>状态:</span>
						<select id="status" name="status" class="form-control" onchange="this.blur()">
							<option value="">全部</option>
							<option value="0">审核通过</option>
							<option value="1">审核拒绝</option>
							<option value="2">审核中</option>
						</select>
						<span>审核人姓名:</span>
						<select id="auditName" name="auditName" class="form-control" onchange="this.blur()">
							<option value="">全部</option>
						</select>
					    <span>用户手机:</span>
					    <input id="userPhone" name="userPhone" type="text" />
						<br>
						<span>审核时间:</span>
						<input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						~
						<input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
						<button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
					</div>
					<!-- 检索  -->
					<table id="table_report" class="table table-striped table-bordered table-hover">
						<thead>
							<tr>
								<th class="center">用户姓名</th>
								<th class="center">审核状态</th>
								<th class="center">审核人</th>
								<th class="center">审核时间</th>
								<th class="center" width="40%;">原因</th>
								<th class="center">操作</th>
							</tr>
						</thead>
						<tbody id="myTable"></tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<!-- 返回顶部  -->
	<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
		<i class="icon-double-angle-up icon-only"></i>
	</a>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		var submitTime = laydate.now(0, 'YYYY-MM-DD');
		$("#startTime").attr('value', submitTime);
		$("#endTime").attr('value', submitTime);
		$(top.hangge());
		var myTable = new MaxTable();
		myTable.initialize({
			table : "myTable",
			id : "id",
			queryUrl : contextPath+"order/order_audit_list_ajax",
			headerColumns : [{
		            id : "user_name",
		            renderer : function(idValue,value,record){
		            	return value ? value + "(" + record.user_phone + ")" : "---" ;
				    }
	        	},{
		            id : "status",
		            renderer : function(idValue,value,record){
		            	if(value == 0){
							return "<font color='green'>审核通过</font>";
						}
			            if (value == 1){
							return "<font color='red'>审核拒绝</font>";
						}
			            if (value == 2){
							return "<font color='orange'>审核中</font>";
						}
			            return "---";
			        }
	        	},{
		            id : "audit_name",
		            renderer : function(idValue,value,record){
		            	if(record.audit_id == 0){
		            		return "系统审核";
		            	}
		            	return value ? value : "---" ;
			        }
	        	},{
		            id : "crete_time",
		            renderer : function(idValue,value,record){
			            return value ? moment(value).format("YYYY-MM-DD HH:mm:ss") : "---" ;
			        }
	        	},{
		            id : "fail_reason",
		            renderer : function(idValue,value,record){
			            return value ? value : "---" ;
			        }
	        	},{
					id : "uid",
					renderer : function(idValue,value,record){
						var html = "<div class='btn-group'>";
						html += "<a class='btn btn-mini btn-info' title='用户详情' onclick=\"detail(" + value + ");\">用户详情</a>";
						html += "</div>";
						return html;
                }
            }]
		});
		
		function query() {
			myTable.page.totalRowNum = 0;
			myTable.onLoad({
				auditName : $("#auditName").val(),
				userPhone : $("#userPhone").val(),
				status : $("#status").val(),
				startTime : $("#startTime").val(),
				endTime : $("#endTime").val()
			});
		}
		query();
		function search() {
			myTable.page.pageNo = 1;
			query();
		}

		function getAuditNameList(){
			$.post(contextPath+"order/order_audit_name_list_ajax",{},function(jsonObject){
				var auditNameList = jsonObject.data;
				$.each(auditNameList,function(i){
					$("#auditName").append("<option value='" + this.auditName + "'>" + this.auditName + "</option>");
				});
			});
		}
		getAuditNameList();

        function detail(uid){
            var diag = new top.Dialog();
            diag.Drag = true;
            diag.Title = "详情";
            diag.URL = contextPath + "user/user_detail?id=" + uid;
            diag.Width = 1400;
            diag.Height = 800;
            diag.CancelEvent = function(){ //关闭事件
                query();
                diag.close();
            };
            diag.show();
        }
	</script>
</body>
</html>

