<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
<div class="container-fluid" id="main-container">
    <div id="page-content" class="clearfix">
        <div class="row-fluid">
            <div class="row-fluid">
                <!-- 检索  -->
                <div>
                    <span>客群:</span>
                    <select id="userType" name="userType" class="form-control" onchange="this.blur()">
                        <option value="">全部</option>
                        <option value="1">新客</option>
                        <option value="2">次客</option>
                        <option value="3">老客</option>
                    </select>
                    <span>提单日期:</span>
                    <input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    ~
                    <input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间"
                           onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    <button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i>
                        查询
                    </button>
                </div>
                <!-- 检索  -->
                <table id="table_report" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">时间</th>
                        <th class="center">订单总数</th>
                        <th class="center">风控拒绝数</th>
                        <th class="center">风控拒绝率</th>
                        <th class="center">风控通过数</th>
                        <th class="center">风控通过率</th>
                        <th class="center">人审通过数</th>
                        <th class="center">人审通过率</th>
                        <th class="center">等待复审数</th>
                        <th class="center">取消订单数</th>
                        <th class="center">取消订单率</th>
                        <th class="center">总通过数</th>
                        <th class="center">总通过率</th>
                    </tr>
                    </thead>
                    <tbody id="myTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部  -->
<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only"></i>
</a>
<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    $(top.hangge());

    var submitTime = laydate.now(0, 'YYYY-MM-DD');
    $("#startTime").attr('value', submitTime);
    $("#endTime").attr('value', submitTime);

    var myTable = new MaxTable();
    myTable.initialize({
        showPageInfo: false,
        table: "myTable",
        id: "id",
        queryUrl: contextPath + "order/order_pass_list_ajax",
        beforeSend: function () {
            maskScreen();
        },
        complete: function () {
            unMaskScreen();
        },
        headerColumns: [{
            id: "time_key",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "order_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "risk_refuse_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "risk_refuse_rate",
            renderer: function (idValue, value, record) {
                var a = record.risk_refuse_cnt;
                var b = record.order_cnt;
                var c = a / (b == 0 ? 1 : b) * 100;
                var d = c.toFixed(2);
                return  d + "%";
            }
        }, {
            id: "risk_pass_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "risk_pass_rate",
            renderer: function (idValue, value, record) {
                var a = record.risk_pass_cnt;
                var b = record.order_cnt;
                var c = a / (b == 0 ? 1 : b) * 100;
                var d = c.toFixed(2);
                return d + "%";
            }
        }, {
            id: "audit_pass_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "audit_pass_rate",
            renderer: function (idValue, value, record) {
                var a = record.audit_pass_cnt + record.audit_refuse_cnt + record.wait_audit_cnt;
                var b = record.audit_pass_cnt;
                var c = b / (a == 0 ? 1 : a) * 100;
                var d = c.toFixed(2);
                return d + "%";
            }
        }, {
            id: "wait_audit_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "cancel_cnt",
            renderer: function (idValue, value, record) {
                return value != null ? value : "---";
            }
        }, {
            id: "cancel_rate",
            renderer: function (idValue, value, record) {
                var a = record.cancel_cnt;
                var b = record.order_cnt;
                var c = a / (b == 0 ? 1 : b) * 100;
                var d = c.toFixed(2);
                return d + "%";
            }
        }, {
            id: "all_pass_cnt",
            renderer: function (idValue, value, record) {
                var a = record.audit_pass_cnt + record.risk_pass_cnt;
                return a;
            }
        }, {
            id: "all_pass_rate",
            renderer: function (idValue, value, record) {
                var a = record.audit_pass_cnt + record.risk_pass_cnt;
                var b = record.order_cnt;
                var c = a / (b == 0 ? 1 : b) * 100;
                var d = c.toFixed(2);
                return d + "%";
            }
        }]
    });

    function query() {
        myTable.onLoad({
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            userType: $("#userType").val(),
        });
    }

    function search() {
        var startTime = $("#startTime").val();
        var endTime = $("#endTime").val();
        var timeDiff = times(startTime, endTime);
        if (timeDiff > 7 || timeDiff < 0) {
            $("#startTime").tips({
                side: 3,
                msg: "请选择区间少于7天的时间段！",
                bg: "#AE81FF",
                time: 3
            });
            $("#startTime").focus();
            return false;
        }
        query();
    }

    function times(startTime, endTime) {
        if (startTime == '') {
            return -1;
        }
        if (endTime == '') {
            return -1;
        }
        startTime = new Date(startTime.replace(/-/g, "/"));
        endTime = new Date(endTime.replace(/-/g, "/"));
        var days = endTime.getTime() - startTime.getTime();
        var time = parseInt(days / (1000 * 60 * 60 * 24));
        return time;
    }
</script>
</body>
</html>

