<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<body>
<div class="container-fluid" id="main-container">
    <div id="page-content" class="clearfix">
        <div class="row-fluid">
            <div class="row-fluid">
                <!-- 检索  -->
                <div>
                    <span>状态:</span>
                    <select id="status" name="status" class="form-control" onchange="this.blur()">
                        <option value="">全部</option>
                        <option value="11">机审中</option>
                        <option value="12">等待复审</option>
                        <option value="21">待放款</option>
                        <option value="22">放款中</option>
                        <option value="23">放款失败</option>
                        <option value="31">还款中</option>
                        <option value="32">还款确认中</option>
                        <option value="33">逾期</option>
                        <option value="34">坏账</option>
                        <option value="41">已结清</option>
                        <option value="42">逾期还款</option>
                        <option value="51">自动审核失败</option>
                        <option value="52">复审失败</option>
                        <option value="53">取消</option>
                    </select>
                    <span>用户手机:</span>
                    <input id="userPhone" name="userPhone" type="text"/>
                    <span>下单时间:</span>
                    <input id="startCreateTime" name="startCreateTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    ~
                    <input id="endCreateTime" name="endCreateTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    <br />
                    <span>应还日期:</span>
                    <input id="startTime" name="startTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    ~
                    <input id="endTime" name="endTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    <span>实际还款日期:</span>
                    <input id="startRealRepayTime" name="startRealRepayTime" type="text" readonly="readonly" placeholder="开始时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    ~
                    <input id="endRealRepayTime" name="endRealRepayTime" type="text" readonly="readonly" placeholder="结束时间" onclick="laydate({istime: true, format: 'YYYY-MM-DD'})"/>
                    <br>
                    <span>客群状态:</span>
                    <select id="userType" name="userType" class="form-control" onchange="this.blur()">
                        <option value="0">全部</option>
                        <option value="1">新客</option>
                        <option value="2">次新</option>
                        <option value="3">老客</option>
                    </select>
                    <button id="query" class="btn btn-small btn-success" onclick="search()"><i class="icon-search"></i> 查询</button>
                    <button class="btn btn-small btn-success" onclick="exportReport()">EXCEL导出</button>
                </div>
                <!-- 检索  -->
                <table id="table_report" class="table table-striped table-bordered table-hover">
                    <thead>
                    <tr>
                        <th class="center">用户姓名</th>
                        <th class="center">借款期限</th>
                        <th class="center">状态</th>
                        <th class="center">借款金额</th>
                        <th class="center">综合费</th>
                        <th class="center">实际到账金额</th>
                        <th class="center">逾期天数</th>
                        <th class="center">逾期费用</th>
                        <th class="center">应还金额</th>
                        <th class="center">已还金额</th>
                        <th class="center">还款减免金额</th>
                        <th class="center">下单时间</th>
                        <th class="center">到账时间</th>
                        <th class="center">应还日期</th>
                        <th class="center">实际还款时间</th>
                        <th class="center">客群</th>
                        <th class="center">操作</th>
                    </tr>
                    </thead>
                    <tbody id="myTable"></tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- 返回顶部  -->
<a href="#" id="btn-scroll-up" class="btn btn-small btn-inverse">
    <i class="icon-double-angle-up icon-only"></i>
</a>
<script type="text/javascript">
    var contextPath = "[[@{/}]]";
    $(top.hangge());
    var myTable = new MaxTable();
    var submitTime = laydate.now(0, 'YYYY-MM-DD');
    $("#startCreateTime").attr('value', submitTime);
    $("#endCreateTime").attr('value', submitTime);
    myTable.initialize({
        table: "myTable",
        id: "id",
        queryUrl: contextPath + "order/order_list_ajax",
        beforeSend : function(){
            maskScreen();
        },
        complete : function(){
            unMaskScreen();
        },
        headerColumns: [{
            id: "user_name",
            renderer: function (idValue, value, record) {
                return value ? value + "(" + record.user_phone + ")" : "---";
            }
        }, {
            id: "borrow_day",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "status",
            renderer: function (idValue, value, record) {
                if (value == 11) {
                    return "<font color='orange'>机审中</font>";
                }
                if (value == 12) {
                    return "<font color='orange'>等待复审</font>";
                }
                if (value == 21) {
                    return "<font color='orange'>待放款</font>";
                }
                if (value == 22) {
                    return "<font color='orange'>放款中</font>";
                }
                if (value == 23) {
                    return "<font color='red'>放款失败</font>";
                }
                if (value == 31) {
                    return "<font color='green'>还款中</font>";
                }
                if (value == 32) {
                    return "<font color='orange'>还款确认中</font>";
                }
                if (value == 33) {
                    return "<font color='red'>逾期</font>";
                }
                if (value == 34) {
                    return "<font color='red'>坏账</font>";
                }
                if (value == 41) {
                    return "<font color='green'>已结清</font>";
                }
                if (value == 42) {
                    return "<font color='green'>逾期还款</font>";
                }
                if (value == 51) {
                    return "<font color='red'>自动审核失败</font>";
                }
                if (value == 52) {
                    return "<font color='red'>复审失败</font>";
                }
                if (value == 53) {
                    return "<font color='red'>取消</font>";
                }
                return "---";
            }
        }, {
            id: "borrow_money",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "total_fee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "actual_money",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "overdue_day",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "overdue_fee",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "should_repay",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "had_repay",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "reduce_money",
            renderer: function (idValue, value, record) {
                return value ? value : "---";
            }
        }, {
            id: "create_time",
            renderer: function (idValue, value, record) {
                return value ? moment(value).format("YYYY-MM-DD HH:mm:ss") : "---";
            }
        }, {
            id: "arrive_time",
            renderer: function (idValue, value, record) {
                return value ? moment(value).format("YYYY-MM-DD HH:mm:ss") : "---";
            }
        }, {
            id: "repay_time",
            renderer: function (idValue, value, record) {
                return value ? moment(value).format("YYYY-MM-DD") : "---";
            }
        }, {
            id: "real_repay_time",
            renderer: function (idValue, value, record) {
                return value ? moment(value).format("YYYY-MM-DD HH:mm:ss") : "---";
            }
        }, {
            id: "user_type",
            renderer: function (idValue, value, record) {
                if (value == 1) {
                    return "<font color='red'>新客</font>";
                }
                if (value == 2) {
                    return "<font color='orange'>次新</font>";
                }
                if (value == 3) {
                    return "<font color='green'>老客</font>";
                }
                return "---";
            }
        }, {
            id: "id",
            renderer: function (idValue, value, record) {
                var html = "<div class='btn-group'>";
                html += "<a class='btn btn-mini btn-info' title='详情' onclick=\"detail(" + record.uid + ");\">详情</a>";
                html += "</div>";
                return html;
            }
        }]
    });

    function query() {
        myTable.page.totalRowNum = 0;
        myTable.onLoad({
            userPhone: $("#userPhone").val(),
            startTime: $("#startTime").val(),
            endTime: $("#endTime").val(),
            startRealRepayTime: $("#startRealRepayTime").val(),
            endRealRepayTime: $("#endRealRepayTime").val(),
            endCreateTime: $("#endCreateTime").val(),
            startCreateTime: $("#startCreateTime").val(),
            status: $("#status").val(),
            userType:$("#userType").val()
        });
    }
//    query();
    function search() {
        myTable.page.pageNo = 1;
        query();
    }
    function detail(id) {
        var diag = new top.Dialog();
        diag.Drag = true;
        diag.Title = "详情";
        diag.URL = contextPath + "user/user_detail?id=" + id;
        diag.Width = 1400;
        diag.Height = 800;
        diag.CancelEvent = function () { //关闭事件
            query();
            diag.close();
        };
        diag.show();
    }
    
    function secondSecurityVerify(){
    	var diag = new top.Dialog();
        diag.Drag = true;
        diag.Title = "安全校验";
        diag.URL = contextPath + "user_security";
        diag.Width = 1400;
        diag.Height = 800;
        diag.CancelEvent = function () { //关闭事件
            diag.close();
        };
        diag.show();
    }
    
    function exportReport() {
    	$.ajax({
			url : contextPath+"system/security_first_verify",
			type : "POST",
			dataType : "json",
			data : {},
			beforeSend : function(){
	            maskScreen();
	        },
			success : function(jsonObject) {
				if(jsonObject.status != 2000){
					secondSecurityVerify();
				}else{
					Dialog.confirm("确认按条件导出订单列表吗？",function(){
				        location.href = contextPath + "order/export_report_order_list?reportName=order_list&userPhone=" + $("#userPhone").val() +
				                "&status=" + $("#status").val() +
				                "&startTime=" + $("#startTime").val() +
				                "&endTime=" + $("#endTime").val() +
				                "&startCreateTime=" + $("#startCreateTime").val() +
				                "&endCreateTime=" + $("#endCreateTime").val() +
				                "&startRealRepayTime=" + $("#startRealRepayTime").val() +
				                "&endRealRepayTime=" + $("#endRealRepayTime").val();
				        
			    	});
				}
			},
			complete : function(){
				unMaskScreen();
			}
		});
    }
</script>
</body>
</html>

