<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form action="" name="myForm" id="myForm" method="post">
			<fieldset>
				<legend>修改渠道</legend>
				<table style="border-collapse:separate; border-spacing:10px;">
					<tr>
						<td>
							<label class="col-sm-2 control-label">渠道别名</label>
						</td>
						<td>
							<input name="id" id="id" maxlength="32" class="form-control" th:value="${origin.id}" type="hidden"/>
							<input name="originName" id="originName" maxlength="32" class="form-control" th:value="${origin.originName}" />						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">状态</label>
						</td>
						<td>
							<select th:field="${origin.status}" name="status" id="status" class="form-control" >
								<option th:selected="${origin.status==0}" value="0">正常</option>
                                <option th:selected="${origin.status==1}" value="1">停用</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">扣量率</label>
						</td>
						<td>
							<input name="deductionRate" id="deductionRate" maxlength="32" class="form-control" th:value="${origin.deductionRate}" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">风控token</label>
						</td>
						<td>
                        <textarea name="mxRiskToken" id="mxRiskToken" class="form-control" th:text="${origin.mxRiskToken}"
								  style="resize:none; width: 180px; height: 100px; ">  </textarea>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			if(!$("#originName").val()){
				Dialog.alert("请输入渠道别名");
				return;
			}
			if(!$("#deductionRate").val()){
				Dialog.alert("请输入扣量率");
				return;
			}
			$.ajax({
        		url : contextPath+"origin/origin_edit_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(jsonObject) {
					if(jsonObject.status == "2000"){
							Dialog.close();
					}else{
						Dialog.alert(jsonObject.message);
					}
				}
			});
		});
	</script>
</body>
</html>