<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form action="" name="myForm" id="myForm" method="post">
			<fieldset>
				<legend>新增渠道</legend>
            </fieldset>
            <table>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">渠道别名</label>
                    </td>
                    <td>
                        <input name="originName" id="originName" maxlength="20" class="form-control" required="required"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">状态</label>
                    </td>
                    <td>
                        <select name="status" id="status" class="form-control">
                            <option value="0">正常</option>
                            <option value="1">停用</option>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">扣量率</label>
                    </td>
                    <td>
                        <input name="deductionRate" id="deductionRate" maxlength="10" class="form-control" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <label class="col-sm-2 control-label">风控token</label>
                    </td>
                    <td>
                        <textarea name="mxRiskToken" id="mxRiskToken" class="form-control"
                              style="resize:none; width: 180px; height: 100px;"></textarea>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">黑名单检查</label>
                    </td>
                    <td>
                        <select name="checkBlacklist" id="checkBlacklist" class="form-control">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">逾期检查</label>
                    </td>
                    <td>
                        <select name="checkOverdue" id="checkOverdue" class="form-control">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                </tr>

                <tr>
                    <td>
                        <label class="col-sm-2 control-label">在途订单检查</label>
                    </td>
                    <td>
                        <select name="checkRepay" id="checkRepay" class="form-control">
                            <option value="0">否</option>
                            <option value="1">是</option>
                        </select>
                    </td>
                </tr>
            </table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			if(!$("#originName").val()){
				Dialog.alert("请输入渠道别名");
				return;
			}
			if(!$("#deductionRate").val()){
				Dialog.alert("请输入扣量率");
				return;
			}
			$.ajax({
        		url : contextPath+"origin/origin_add_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(jsonObject) {
					if(jsonObject.status == "2000"){
						Dialog.alert(jsonObject.message,function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(jsonObject.message);
					}
				}
			});
		});
	</script>
</body>
</html>