<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form action="system/manager_edit" name="myForm" id="myForm" method="post">
			<fieldset>
				<legend>修改</legend>
				<table>
					<tr>
						<td>
							<label class="col-sm-2 control-label">角色</label>
						</td>
						<td>
							<input type="hidden" name="id" id="id" />
							<select name="roleId" id="roleId" class="form-control">
							<option value="">选择角色</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">用户名</label>
						</td>
						<td>
							<input name="loginName" id="loginName" maxlength="32" class="form-control" readonly="readonly" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">姓名</label>
						</td>
						<td>
							<input name="userName" id="userName" maxlength="10" class="form-control" required="required" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">手机号</label>
						</td>
						<td>
							<input name="userPhone" id="userPhone" maxlength="11" class="form-control" required="required" onkeyup="value=value.replace(/[^\d]/,'')" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">邮箱</label>
						</td>
						<td>
							<input name="userEmail" id="userEmail" maxlength="32" class="form-control" required="required"  />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">状态</label>
						</td>
						<td>
							<select name="accountStatus" id="accountStatus" class="form-control">
								<option value="0">正常</option>
								<option value="1">停用</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">是否需要安全验证</label>
						</td>
						<td>
							<select name="userSecurity" id="userSecurity" class="form-control">
								<option value="0">不需要</option>
								<option value="1" selected="selected">需要</option>
							</select>
						</td>
					</tr>
				</table>
			</fieldset>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			if($("#userName").val()==""){
				$("#userName").tips({
					side:3,
		            msg:"输入姓名",
		            bg:"#AE81FF",
		            time:2
		        });
				$("#userName").focus();
				return false;
			}
			if($("#userPhone").val()==""){
				$("#userPhone").tips({
					side:3,
		            msg:"输入手机号",
		            bg:"#AE81FF",
		            time:2
		        });
				$("#userPhone").focus();
				return false;
			}
			$.ajax({
        		url : contextPath+"system/manager_update_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				beforeSend : function(){
					maskScreen();
				},
				success : function(jsonObject) {
					if(jsonObject.status == "2000"){
						Dialog.alert(jsonObject.message,function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(jsonObject.message);
					}
				},
				complete : function(){
					unMaskScreen();
				}
			});
		});
		
		var id = [[${id}]];
		function getAllMessage(){
			$.ajax({
        		url : contextPath+"system/manager_detail_ajax",
        		type : "POST",
				dataType : "json",
				data : {"id":id},
				beforeSend : function(){
					maskScreen();
				},
				success : function(jsonObject) {
					var manager = jsonObject.data.manager;
					$("#id").val(manager.id);
					$("#accountStatus").val(manager.accountStatus);
					$("#loginName").val(manager.loginName);
					$("#userName").val(manager.userName);
					$("#userPhone").val(manager.userPhone);
					$("#roleId").val(manager.roleId);
					$("#userSecurity").val(manager.userSecurity);
					$("#userEmail").val(manager.userEmail);
				},
				complete : function(){
					unMaskScreen();
				}
			});
		}
		
		function getList(){
			$.ajax({
        		url : contextPath+"system/role_all_list",
        		type : "POST",
				dataType : "json",
				data : {"id":id},
				beforeSend : function(){
					maskScreen();
				},
				success : function(jsonObject) {
					var roleList = jsonObject.data;
					$.each(roleList,function(i){
						$("#roleId").append("<option value='"+roleList[i].id+"'>"+roleList[i].roleName+"</option>");
					});
					getAllMessage();
				},
				complete : function(){
					unMaskScreen();
				}
			});
		}
		getList();
	</script>
</body>
</html>