<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form name="myForm" id="myForm">
			<fieldset>
				<legend>新增</legend>
			</fieldset>
				<table>
					<tr>
						<td>
							<label class="col-sm-2 control-label">角色名称</label>
						</td>
						<td>
							<input name="roleName" id="roleName" maxlength="10" class="form-control" required="required" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">角色备注</label>
						</td>
						<td>
							<input name="roleRemark" id="roleRemark" maxlength="10" class="form-control" required="required" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">状态</label>
						</td>
						<td>
							<select name="roleStatus" id="roleStatus" class="form-control">
								<option value="0">正常</option>
								<option value="1">停用</option>
							</select>
						</td>
					</tr>
				</table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			if($("#roleName").val() == ""){
				$("#roleName").tips({
					side:3,
		            msg:"输入角色名称",
		            bg:"#AE81FF",
		            time:2
		        });
				$("#roleName").focus();
				return false;
			}
			$.ajax({
        		url : contextPath+"system/role_add_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				beforeSend : function(){
					maskScreen();
				},
				success : function(jsonObject) {
					if(jsonObject.status == "2000"){
						Dialog.alert(jsonObject.message,function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(jsonObject.message);
					}
				},
				complete : function(){
					unMaskScreen();
				}
			});
		});
	</script>
</body>
</html>
