<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form name="myForm" id="myForm">
			<fieldset>
				<legend>新增</legend>
			</fieldset>
				<table>
					<tr>
						<td>
							<label class="col-sm-2 control-label">标题</label>
						</td>
						<td>
							<input name="articleTitle" id="articleTitle" maxlength="50" class="form-control" required="required" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">tag</label>
						</td>
						<td>
							<input name="articleTag" id="articleTag" maxlength="20" class="form-control" />
						</td>
					</tr>
					<tr>
						<td><label class="control-label">内容</label></td>
						<td>
							<textarea id="articleContent" name="articleContent" style="width:400px;height:400px;"></textarea>
						</td>
					</tr>
				</table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var editor1;
		KindEditor.ready(function(K) {
			editor1 = K.create('textarea[name="articleContent"]', {
			    afterCreate : function() { 
		            this.sync(); 
		        },
		        afterBlur : function(){ 
		            this.sync(); 
		        }                 
			});
			prettyPrint();
		});
		
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			var articleTitle = $("#articleTitle").val();
	        var content = $("#content").val();
	        if(articleTitle == ""){
	        	$("#articleTitle").tips({
					side:3,
			        msg:"请输入标题。",
			        bg:"#AE81FF",
			        time:2
			    });
				$("#articleTitle").focus();
				return false;
	        }
	        if(articleContent == ""){
	        	Dialog.alert("请输入内容。");
				return false;
	        }
				
			$.ajax({
	        	url : contextPath+"operation/article_edit_ajax",
	        	type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(data) {
					if(data.status == 2000){
						Dialog.alert("操作成功",function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(data.message);
					}
				}
			});
		});
	</script>
</body>
</html>
