<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="common/top :: head">
</head>
<head>
<link href="/static/css/bootstrap3.3.7.min.css" rel="stylesheet"  th:href="@{/static/css/bootstrap3.3.7.min.css}"/>
</head>
<body>
	<div id="zhongxin" align="center">
		<hr />
		<form name="myForm" id="myForm">
			<fieldset>
				<legend>新增</legend>
			</fieldset>
				<table>
					<tr>
						<td>
							<label class="col-sm-2 control-label">图片</label>
						</td>
						<td>
							<label id="imgSample"></label>
							<input name="imgurl" id="imgurl" type="hidden" required="required" />
						</td>
						<td>
							<input type="file" name="file_productImg" id="file_productImg" style="display:none;" />
							<a class="btn btn-mini btn-info" title="上传图片" onclick="uploadFile('file_productImg','imgurl')">上传图片</a>
							<img src="/static/images/loadingi.gif" id="jzdh" style="opacity: 0;" />
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">链接</label>
						</td>
						<td>
							<textarea name="url" id="url" maxlength="500" class="form-control" style="resize:none; width: 300px; height: 117px;" placeholder="链接地址"></textarea>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">状态</label>
						</td>
						<td>
							<select name="status" id="status" class="form-control">
								<option value="0">停用</option>
								<option value="1">启用</option>
							</select>
						</td>
					</tr>
					<tr>
						<td>
							<label class="col-sm-2 control-label">备注</label>
						</td>
						<td>
							<input name="remark" id="remark" maxlength="100" class="form-control" />
						</td>
					</tr>
				</table>
		</form>
		<div>
			<a class="btn btn-mini btn-primary" id="saveButton">保存</a>
			<a class="btn btn-mini btn-danger" onclick="top.Dialog.close()">取消</a>
		</div>
	</div>
	<script type="text/javascript">
		var contextPath="[[@{/}]]";
		$(top.hangge());
		$("#saveButton").unbind();
		$("#saveButton").bind("click",function(){
			var imgurl = $("#imgurl").val();
	        if(imgurl == ""){
	        	Dialog.alert("请上传图片。");
				return false;
	        }
			$.ajax({
        		url : contextPath+"operation/home_edit_ajax",
        		type : "POST",
				dataType : "json",
				data : $("#myForm").serialize(),
				success : function(data) {
					if(data.status == 2000){
						Dialog.alert("操作成功",function(){
							Dialog.close();
						});
					}else{
						Dialog.alert(data.message);
					}
				}
			});
		});
		
		function uploadFile(fileId,target){
	        $("#" + fileId).off("change").on("change", function (e) {
	        	var file = e.target.files[0];
	            // 显示加载动画
	            $("#jzdh").attr("style","opacity: 1;");
	            uploadFileOSS(file,function(data){
	            	// 隐藏加载动画
	                $("#jzdh").attr("style","opacity: 0;");
	             	// 置空文件选择器
					$("#" + fileId).val("");
	            	if(data.status == 2000){
						Dialog.alert("上传成功",function(){
			                //成功后回显图片
			                $("#imgSample").html("<img src='"+data.data.absolutePath+ "' width='200' />");
			                $("#"+target).val(data.data.relativePath);
						});
					}else{
						Dialog.alert(data.message);
					}
	            });
	        });

	        setTimeout(function(){
	            $("#" + fileId).click();
	        }, 0);
	    }
	</script>
</body>
</html>
