<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.BannerMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.Banner">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="banner_imgurl" jdbcType="VARCHAR" property="bannerImgurl" />
		<result column="banner_url" jdbcType="VARCHAR" property="bannerUrl" />
		<result column="banner_idx" jdbcType="INTEGER" property="bannerIdx" />
		<result column="banner_remark" jdbcType="VARCHAR" property="bannerRemark" />
		<result column="banner_status" jdbcType="TINYINT" property="bannerStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="merchant" jdbcType="VARCHAR" property="merchant" />
	</resultMap>
	
	<select id="findBannerList" resultType="map">
	select id,banner_imgurl,banner_url,banner_status,banner_idx,banner_remark,create_time from tb_app_banner
	<where>
		<if test="bannerStatus != null">
			and banner_status = #{bannerStatus}
		</if>
		<if test="merchant != null">
			and merchant = #{merchant}
		</if>
	</where>
	order by banner_status desc,banner_idx desc,id desc limit #{startIndex},#{pageSize}
	</select>
	
</mapper>