<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.NoticeMapper">
	<resultMap id="BaseResultMap" type="com.mod.loan.model.Notice">
		<!-- WARNING - @mbg.generated -->
		<id column="id" jdbcType="BIGINT" property="id" />
		<result column="notice_title" jdbcType="VARCHAR" property="noticeTitle" />
		<result column="notice_url" jdbcType="VARCHAR" property="noticeUrl" />
		<result column="notice_idx" jdbcType="INTEGER" property="noticeIdx" />
		<result column="notice_status" jdbcType="TINYINT" property="noticeStatus" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
		<result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
		<result column="merchant" jdbcType="VARCHAR" property="merchant" />
		<result column="notice_tag" jdbcType="VARCHAR" property="noticeTag" />
	</resultMap>
	
	<select id="noticeCount" resultType="int">
	select count(1) from tb_app_notice
	<where>
		<if test="noticeStatus != null">
			and notice_status = #{noticeStatus}
		</if>
		<if test="merchant != null">
			and merchant = #{merchant}
		</if>
		<if test="noticeTitle != null">
			and notice_title like concat(#{noticeTitle},'%')
		</if>
	</where>
	</select>
	
	<select id="findNoticeList" resultType="map">
	select id,notice_title,notice_status,notice_tag,notice_url,notice_idx,create_time from tb_app_notice
	<where>
		<if test="noticeStatus != null">
			and notice_status = #{noticeStatus}
		</if>
		<if test="noticeTitle != null">
			and notice_title like concat(#{noticeTitle},'%')
		</if>
		<if test="merchant != null">
			and merchant = #{merchant}
		</if>
	</where>
	order by notice_status desc,notice_idx desc,id desc limit #{startIndex},#{pageSize}
	</select>
	
</mapper>