<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.ReportPartnerEffectMapper">
    <resultMap id="BaseResultMap" type="com.mod.loan.model.ReportPartnerEffect">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="day_key" jdbcType="DATE" property="dayKey"/>
        <result column="user_origin" jdbcType="VARCHAR" property="userOrigin"/>
        <result column="reg_cnt" jdbcType="INTEGER" property="regCnt"/>
        <result column="real_name_cnt" jdbcType="INTEGER" property="realNameCnt"/>
        <result column="login_cnt" jdbcType="INTEGER" property="loginCnt"/>
        <result column="submit_order_cnt" jdbcType="INTEGER" property="submitOrderCnt"/>
        <result column="first_submit_cnt" jdbcType="INTEGER" property="firstSubmitCnt"/>
        <result column="first_submit_amount" jdbcType="DECIMAL" property="firstSubmitAmount"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="merchant" jdbcType="VARCHAR" property="merchant"/>
    </resultMap>

    <select id="reportPartnerEffectCount" resultType="int">
        select count(DISTINCT day_key) from report_partner_effect
        <where>
            <if test="merchant != null">
                and merchant = #{merchant}
            </if>
            <if test="userOrigin != null">
                and user_origin = #{userOrigin}
            </if>
            <if test="startTime != null">
                and day_key &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and day_key &lt;= #{endTime}
            </if>
        </where>
    </select>

    <select id="findReportPartnerEffectList" resultType="map">
        SELECT
        day_key as dayKey,
        sum(reg_cnt) as regCnt,
        sum(real_name_cnt) as realNameCnt,
        sum(personal_info_certi_cnt) as personalInfoCertiCnt,
        sum(yys_cnt) as yysCnt,
        sum(bank_cnt) as bankCnt,
        sum(order_cnt) as orderCnt,
        sum(pass_risk_cnt) as passRiskCnt,
        sum(loan_success_cnt) as loanSuccessCnt ,
        concat(ROUND(sum(real_name_cnt)/sum(reg_cnt)*100,2),'%') AS realNameCertiRate,
        concat(ROUND(sum(personal_info_certi_cnt)/sum(reg_cnt)*100,2),'%') AS personalInfoCertiRate,
        concat(ROUND(sum(yys_cnt)/sum(reg_cnt)*100,2),'%') AS yysCertiRate,
        concat(ROUND(sum(bank_cnt)/sum(reg_cnt)*100,2),'%') AS bankBoundRate,
        concat(ROUND(sum(order_cnt)/sum(reg_cnt)*100,2),'%') AS regApplyTransRate,
        concat(ROUND(sum(loan_success_cnt)/sum(reg_cnt)*100,2),'%') AS loanRate,
        concat(ROUND(sum(loan_success_cnt)/sum(order_cnt)*100,2),'%') AS auditPassRate
        from report_partner_effect pe
        <where>
            <if test="merchant != null">
                and pe.merchant = #{merchant}
            </if>
            <if test="userOrigin != null">
                and user_origin = #{userOrigin}
            </if>
            <if test="startTime != null">
                and pe.day_key &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and pe.day_key &lt;= #{endTime}
            </if>
        </where>
        group by 1
        order by pe.day_key desc
        <if test="startIndex!=null and pageSize!=null">
            limit #{startIndex},#{pageSize}
        </if>

    </select>

    <select id="exportReport" resultType="map">
        SELECT
        day_key as dayKey,
        sum(reg_cnt) as regCnt,
        sum(real_name_cnt) as realNameCnt,
        sum(personal_info_certi_cnt) as personalInfoCertiCnt,
        sum(yys_cnt) as yysCnt,
        sum(bank_cnt) as bankCnt,
        sum(order_cnt) as orderCnt,
        sum(pass_risk_cnt) as passRiskCnt,
        sum(loan_success_cnt) as loanSuccessCnt ,
        concat(ROUND(sum(real_name_cnt)/sum(reg_cnt)*100,2),'%') AS realNameCertiRate,
        concat(ROUND(sum(personal_info_certi_cnt)/sum(reg_cnt)*100,2),'%') AS personalInfoCertiRate,
        concat(ROUND(sum(yys_cnt)/sum(reg_cnt)*100,2),'%') AS yysCertiRate,
        concat(ROUND(sum(bank_cnt)/sum(reg_cnt)*100,2),'%') AS bankBoundRate,
        concat(ROUND(sum(order_cnt)/sum(reg_cnt)*100,2),'%') AS regApplyTransRate,
        concat(ROUND(sum(loan_success_cnt)/sum(reg_cnt)*100,2),'%') AS loanRate,
        concat(ROUND(sum(loan_success_cnt)/sum(order_cnt)*100,2),'%') AS auditPassRate
        from report_partner_effect pe
        <where>
            <if test="merchant != null">
                and pe.merchant = #{merchant}
            </if>
            <if test="userOrigin != null">
                and user_origin = #{userOrigin}
            </if>
            <if test="startTime != null">
                and pe.day_key &gt;= #{startTime}
            </if>
            <if test="endTime != null">
                and pe.day_key &lt;= #{endTime}
            </if>
        </where>
        group by 1
        order by pe.day_key desc
    </select>

    <select id="reportPartnerEffectDetailCount" resultType="int">
        select count(1) from report_partner_effect pe left
        join tb_merchant_origin mo on pe.user_origin = mo.id
        <where>
            <if test="merchant != null">
                and pe.merchant = #{merchant}
            </if>
            <if test="originName != null">
                and mo.origin_name = #{originName}
            </if>
            <if test="date != null">
                and pe.day_key = #{date}
            </if>
        </where>
    </select>

    <select id="findReportPartnerEffectDetailList" resultType="map">
        SELECT
        day_key as dayKey,
        user_origin,
        mo.origin_name as originName,
        reg_cnt as regCnt,
        real_name_cnt as realNameCnt,
        personal_info_certi_cnt as personalInfoCertiCnt,
        yys_cnt as yysCnt,
        bank_cnt as bankCnt,
        order_cnt as orderCnt,
        pass_risk_cnt as passRiskCnt,
        loan_success_cnt as loanSuccessCnt ,
        concat(ROUND(real_name_cnt/reg_cnt*100,2),'%') AS realNameCertiRate,
        concat(ROUND(personal_info_certi_cnt/reg_cnt*100,2),'%') AS personalInfoCertiRate,
        concat(ROUND(yys_cnt/reg_cnt*100,2),'%') AS yysCertiRate,
        concat(ROUND(bank_cnt/reg_cnt*100,2),'%') AS bankBoundRate,
        concat(ROUND(order_cnt/reg_cnt*100,2),'%') AS regApplyTransRate,
        concat(ROUND(loan_success_cnt/reg_cnt*100,2),'%') AS loanRate,
        concat(ROUND(loan_success_cnt/order_cnt*100,2),'%') AS auditPassRate
        from report_partner_effect pe
        left join tb_merchant_origin mo on pe.user_origin = mo.id
        <where>
            <if test="merchant != null">
                and pe.merchant = #{merchant}
            </if>
            <if test="originName != null">
                and mo.origin_name = #{originName}
            </if>
            <if test="date != null">
                and pe.day_key = #{date}
            </if>
        </where>
GROUP BY 1,2
ORDER BY 1 DESC
limit #{startIndex},#{pageSize}
    </select>
</mapper>