<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.ReportRegisterOrderMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.ReportRegisterOrder">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="day_key" jdbcType="DATE" property="dayKey" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="register_cnt" jdbcType="INTEGER" property="registerCnt" />
    <result column="realname_cnt" jdbcType="INTEGER" property="realnameCnt" />
    <result column="zfb_cnt" jdbcType="INTEGER" property="zfbCnt" />
    <result column="mobile_cnt" jdbcType="INTEGER" property="mobileCnt" />
    <result column="order_cnt" jdbcType="INTEGER" property="orderCnt" />
    <result column="first_cnt" jdbcType="INTEGER" property="firstCnt" />
    <result column="second_cnt" jdbcType="INTEGER" property="secondCnt" />
    <result column="old_cnt" jdbcType="INTEGER" property="oldCnt" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  
  <select id="findReportRegisterOrderList" resultType="map">
    select * from report_register_order
    <where>
        and merchant = #{merchant}
      <if test="startTime != null">
		and day_key &gt;= #{startTime}
	  </if>
	  <if test="endTime != null">
		and day_key &lt;= #{endTime}
	  </if>
    </where>
    order by day_key desc limit #{startIndex},#{pageSize}
  </select>
  
  <select id="countReportRegisterOrder" resultType="int">
    select COUNT(1) from report_register_order
    <where>
        and merchant = #{merchant}
      <if test="startTime != null">
		and day_key &gt;= #{startTime}
	  </if>
	  <if test="endTime != null">
		and day_key &lt;= #{endTime}
	  </if>
    </where>
  </select>
</mapper>