<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.ThirdCallHistoryMapper">
  <resultMap id="BaseResultMap" type="com.mod.loan.model.ThirdCallHistory">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="merchant" jdbcType="VARCHAR" property="merchant" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="day" jdbcType="TIMESTAMP" property="day" />
    <result column="uid" jdbcType="BIGINT" property="uid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="selectCountNow" parameterType="map" resultType="int">
    select count(`id`) from tb_third_call_history where
    `day`=DATE_FORMAT(#{now}, '%Y-%m-%d')
    and code = #{code} and merchant = #{merchant}
  </select>

</mapper>