<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mod.loan.mapper.UserAddressListMapper">
	<resultMap id="BaseResultMap"
		type="com.mod.loan.model.UserAddressList">
		<!-- WARNING - @mbg.generated -->
		<id column="uid" jdbcType="BIGINT" property="uid" />
		<result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
		<result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
		<result column="address_list" jdbcType="LONGVARCHAR" property="addressList" />
	</resultMap>
	
	<select id="selectOneByUid" resultMap="BaseResultMap">
	select create_time from tb_user_address_list where uid = #{uid}
	</select>
	
</mapper>